*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Set effect to reveal, push out */
.cl-effect-10  {
	position: relative;
	z-index: 1;
	height:100vh;
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 0px 0px;
    width: 100%;
    height: 14.7%;
}

.cl-effect-10 a span {
	display: block;
	padding: 10px 20px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	border-left: 15px solid #fff;
	height:100%;
}
.cl-effect-10 a span.red-m {
    border-left: 15px solid #F98999;
}
.cl-effect-10 a span.blue-m {
    border-left: 15px solid #A0CAEF;
}
.cl-effect-10 a span.purple-m {
    border-left: 15px solid #EFB1E4;
}
.cl-effect-10 a span.yellow-m {
    border-left: 15px solid #FFC584;
}
.cl-effect-10 a span.green-m {
    border-left: 15px solid #BADBB3;
}
.cl-effect-10 a span.pink-m {
    border-left: 15px solid #F8D4D7;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #0f7c67;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
/*Change Bg when click*/
a.red-m::before{
	background: #FEEFF1 !important;
}
a.blue-m::before{
	background: #FEEFF1 !important;
}
a.purple-m::before{
	background: #FEEFF1 !important;
}
a.green-m::before{
	background: #FEEFF1 !important;
}
a.yellow-m::before{
	background: #FEEFF1 !important;
}
a.pink-m::before{
	background: #FEEFF1 !important;
}
.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span,
.cl-effect-10 a:active span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before,
.cl-effect-10 a:active::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

